*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    margin: 20px auto;
    width: 1000px;
}

.album{
    margin: 10px 15px;
    display: inline-block;
}

.image{  
    width: 300px;
    position: relative;
}

.image img{
    width: 100%;
}

.heart{
    position: absolute;
    padding: 15px;
    font-size: 120%;
    background-color: white;
    top: 20px;
    right: 0;
    z-index: 2;
}

.discount{
    position: absolute;
    padding: 5px;
    background-color: red;
    color: white;
    bottom: 20px;
    left: 0;
    z-index: 2;
}

.sostenibility{
    position: absolute;
    padding: 5px;
    background-color: green;
    color: white;
    bottom: 20px;
    left: 50px;
    z-index: 2;
}

.levis {
    width: 100%;
    position: relative;
    display: inline-block;
}
.levis .second-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.levis:hover .second-image {
    display: inline-block;
}
